/* STYLE SECTIONING TAGS */
body {
  background-color: #f2f1f0;
}

/* STYLE TEXT */
/* DEFAULT COLOR, AND FONT */
html {
  color: #222824;
  font-family: "Raleway", sans-serif;
}
h1 {
  text-align: left;
  font-weight: 400;
}
h2 {
  font-weight: 400;
}
h3 {
  color: #569656;
  font-weight: 600;
  line-height: 1.6;
}
h4 {
  line-height: 1;
  font-weight: 500;
}
p {
  font-family: "Bitter", serif;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0 auto;
}
/* STYLE IMAGES */
img {
  display: block;
  margin: 0 auto;
}

/* STYLE LISTS*/
li {
  display: list-item;
}
ul {
  list-style: disc;
}

/* STYLE LINKS*/

/* STYLE NAV BAR */

nav {
  background-color: #f2f1f0;
}
/* STYLE FOOTER */
footer {
  background-color: #d8dbca;
}
