/* MORE ABSTRACT SECTIONING TAGS */
html {
  scroll-behavior: smooth;
}
body {
  color: #222824;
  font-family: "Raleway", sans-serif;
  background-color: #f2f1f0;
  margin: 0;
  padding: 0;
  height: 100%;
}
/* INSERT MAIN IF NEEDED */
section {
  height: 100vh;
  display: flex;
  place-items: center;
  padding: 50px 0px;
}
/* SPECIFIC SECTIONING TAGS; NOTE, IF/WHEN ADDING PAGES, HEADER STICKY SETTINGS WOULD NEED TO BE MOVED OUT OF MAIN AND ADJUSTED SO IT STICKS PAST THE FIRST SECTION */
/* HEADER */
header {
  background-color: #f2f1f0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0%;
  padding: 5px 30px;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: opacity 0.4s ease;
  opacity: 0;
  box-shadow: 0px px 6px #4d3100;
}
header.visible {
  opacity: 1;
}
/* NAV */
nav {
  display: flex;
}
nav li {
  display: flex;
  margin-left: 40px;
}
nav a {
  /*specified here because other links will be green text*/
  color: #222824;
}
/* STYLE FOOTER */
footer {
  background-color: #d8dbca;
}
/* SPECIFIC SECTIONING IDS; NOTE IF/AS WANTING TO EDIT NAME AND MAYBE ADD LOGO, ADD ID HERE + CREATE DIV TAGS SURROUNDING IT */
#intro {
}
#aboutme {
  background-color: #d8dbca;
}
#projects {
}
/* TEXT TAGS; NOTE CURRENTLY ONLY USING 4 HEADERS AND RESEARCHING HOW USING H4 FOR NAV TEXT STYLING AFFECTS ACCESSIBILITY/SCREEN READERS AND ALTERNATIVES/WHAT PPL GENERALLY DO FOR IT*/
/* HEADERS */
h1 {
  text-align: left;
  font-weight: 400;
  font-size: 5em;
  line-height: 150px;
  margin: -200px 50px 50px 0px;
}
h2 {
  font-weight: 400;
}
h3 {
  color: #61ab61;
  font-weight: 600;
  line-height: 1.6;
}
h4 {
  line-height: 40px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  letter-spacing: 0.1em;
  font-size: 1.3em;
}
/* PARAGRAPH */
p {
  font-family: "Bitter", serif;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0 auto;
}
/* IMAGES */
img {
  display: block;
  margin: 0 0;
}
#headshot {
  width: 450px;
  height: auto;
  bottom: 0;
  margin: -200px 50px 50px;
}
/* LISTS*/
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  display: flex;
}
/* LINKS*/
/* BASIC */
a {
  text-decoration: none;
  position: relative;
}
/* INTERACTIVITY, COULD CHANGE AS LEARNING JAVASCRIPT ALTERNATIIVES AND FINETUNING */
a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0;
  height: 2px;
  background-color: #569656;
  transition: width 0.4s ease;
}
a:hover::after {
  width: 100%;
}
