/* STYLE SECTIONING TAGS */
body {
  background-color: #f2f1f0;
}

/* STYLE TEXT */

h1 {
  color: #222824;
  font-family: "Raleway", sans-serif;
  text-align: left;
  font-weight: 400;
}
h2 {
  color: #222824;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
h3 {
  color: #569656;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  line-height: 1.6;
}
h4 {
  color: #222824;
  font-family: "Raleway", sans-serif;
  line-height: 1;
  font-weight: 500;
}
p {
  color: #222824;
  font-family: "Bitter", serif;
  line-height: 1.6;
}
/* STYLE IMAGES */
img {
}

/* STYLE LINKS*/

/* STYLE NAV BAR */

nav {
  background-color: #f2f1f0;
}
/* STYLE FOOTER */
footer {
  background-color: #d8dbca;
}
